body {
  background-color: red;
}

.header-top {
  margin: 20px;

  .header-top-inner {
    padding: 0 120px;

    .header-controls {
      margin-top: 15px;
    }
  }
}

#header {
  :first-child {
    color: green;
  }

  .header-second {
    background-color: green;
  }
}
