@mixin square {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: turquoise;
}

@mixin square-bg($color: turquoise) {
  background-color: $color;
}

@mixin circle-bg($color: turquoise) {
  background-color: $color;
}

.squares {
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto;
}

.square {
  @include square;
}

.square-magenta {
  @include square-bg(magenta);
}

.square-peru {
  @include square-bg(peru);
}

.square-purple {
  @include square-bg(purple);
}

.circles {
  width: 75%;
  border: 2px dotted brown;
  border-radius: 20px;
  margin: 0 auto;
}

.circle {
  height: 200px;
  width: 200px;
  border: 3px solid red;
  border-radius: 50%;
  @include circle-bg(purple);
}

.circle-red {
  @include circle-bg(red);
}

.circle-green {
  @include circle-bg(green);
}

.circle-blue {
  @include circle-bg(blue);
}

.circle-border-blue {
  border-color: blue;
}
