@keyframes bar-04 {
  25% {
    background-color: red;
    width: 100%;
  }

  50% {
    background-color: blue;
    width: 50%;
  }

  75% {
    background-color: black;
  }

  100% {
    background-color: orange;
    width: 150px;
  }
}

.bar-04 {
  animation: bar-04 5s ease-out;
}

@keyframes bar-05 {
  0% {
    background-color: green;
    width: 100%;
  }

  33.3% {
    background-color: red;
    width: 500px;
  }

  66.6% {
    background-color: green;
    width: 75%;
  }

  100% {
    background-color: orange;
    width: 500px;
  }
}

.bar-05 {
  animation: bar-05 8s linear;
}
