.circles {
  width: 80%;
  border: 1px solid black;
  margin: auto;
  // display: flex;
  // justify-content: space-between;
}

.circle {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: brown;
}

.circle-red {
  @extend .circle;

  background-color: red;
}

.circle-green {
  @extend .circle;

  background-color: green;
}

.circle-blue {
  @extend .circle;

  background-color: blue;
}
