/* can't touch this 🔨 */
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-1 {
  background-color: lightblue;
}

.grid-item-2 {
  background-color: lightcoral;
}

.grid-item-3 {
  background-color: lightgreen;
}

.grid-item-4 {
  background-color: lightsalmon;
}

.grid-item-5 {
  background-color: lightsteelblue;
}
/* can't touch this 🔨 */

.grid-container {
  display: grid;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  grid-template-areas:
    'header'
    'filters'
    'content'
    'sidebar'
    'footer';
}

.grid-item-1 {
  grid-area: header;
}

.grid-item-2 {
  grid-area: filters;
}

.grid-item-3 {
  grid-area: content;
}

.grid-item-4 {
  display: none;
  grid-area: sidebar;
}

.grid-item-5 {
  grid-area: footer;
}

@media (min-width: 800px) {
  .grid-container {
    grid-template-areas:
      'header header header'
      'sidebar . filters'
      'sidebar . content'
      'footer footer footer';
    grid-template-columns: 400px 10px 1fr;
  }

  .grid-item-4 {
    display: block;
  }
}
