.line {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

$border-styles: dotted, solid, dashed, double, none;
$sizes: (
  'xs': 4px,
  'sm': 8px,
  'md': 16px,
  'lg': 32px,
);

@each $style in $border-styles {
  .b-#{$style} {
    border-style: $style;
  }
}

@each $class-name, $value in $sizes {
  .m-#{$class-name} {
    margin: $value;
  }

  .p-#{$class-name} {
    padding: $value;
  }
}
